Logger/bin/Debug/*
Logger/bin/Release/*
Logger/obj/*
Netba/WebCharts/*
Netba/bin/Debug/*
Netba/bin/Release/*
Netba/obj/*
StatGrabber/bin/Debug/*
StatGrabber/bin/Release/*
StatGrabber/obj/*
StatGrabberTest/bin/Debug/*
StatGrabberTest/bin/Release/*
StatGrabberTest/obj/*
Netba/bin/Logger.*
Netba/bin/Netba.*
Netba/bin/StatGrabber.*
Netba/bin/Microsoft.*
NetbaTradeAggregator/obj/*
NetbaTradeAggregator/bin/Debug/*
NetbaTradeAggregator/bin/Release/*

Netba/Netba.Publish.xml

Netba.suo

UpgradeLog.htm

UpgradeLog.XML

_UpgradeReport_Files/UpgradeReport.css

_UpgradeReport_Files/UpgradeReport_Information.png

_UpgradeReport_Files/UpgradeReport_Success.png

_UpgradeReport_Files/UpgradeReport_Error.png

_UpgradeReport_Files/UpgradeReport_Warning.png

_UpgradeReport_Files/UpgradeReport.xslt

Netba.v11.suo

NetbaTradeAggregator/NetbaTradeAggregator.sqlproj

Netba/Properties/PublishProfiles/netba.pubxml.user

NetbaTradeAggregator/NetbaTradeAggregator.sqlproj

.vs/Netba/v14/.suo

.vs/Netba/v14/suoFA2A.tmp
